.tab-pane {
    padding: 20px 15px 10px 15px;
}

.nav.nav-tabs {
    padding-top: 6px;
    background-color: var(--componentBgColor);
    border-color: var(--componentBorderColor);
}

.nav.nav-tabs > li {
    margin-right: 1px;
    margin-left: 6px;
}

.nav.nav-tabs > li > a {
    border: 1px solid var(--componentBorderColor);
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    color: var(--bodyFont, #555);
}

.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li > a:is(:hover, :focus),
.nav.nav-tabs > li.active > a:is(:hover, :focus) {
    background-color: #156ba4;
    color: white;
}
