.rsdraggable {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    display: inline;
    float: left;
    text-align: left;
    vertical-align: top;
    background-color: var(--questionBgColor, #efefff);
    padding-bottom: 10px;
    min-width: 28%;
    border: 1px solid var(--componentBorderColor, #efefff);
    box-sizing: border-box;
}

.dnd-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.drag-button {
    display: inline-block;
}

.drag-reset {
    background-color: #474949;
    color: white;
}

.drag-reset:hover {
    background-color: black;
    color: white;
}

.drop-incorrect {
    border: 1px solid var(--draggableIncorrectBorder, red) !important;
    background-color: var(--draggableIncorrectBg, #f2dede) !important;
}

.drag-reset:enabled {
    background-color: #474949;
    color: white;
}

.draggable-drag {
    border-radius: 10px;
    display: block;
    background-color: var(--draggableBgColor);
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    cursor: grab;
}

.draggable-feedback {
    text-align: left !important;
    clear: both;
}

.draggable-drop {
    border-radius: 10px;
    display: block;
    background-color: var(--dropableBgColor);
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    cursor: grab;
}

.draggable-container {
    text-align: center;
}

.possibleDrop {
    border-color: #000000;
    background-color: #CCCCCC;
}

/*
 * This is a hack to allow us to drop on the drop target when
 * the drop area contains mathjax or or other child elements.
*/
.draggable-drop .process-math,
.draggable-drop .MathJax {
    pointer-events: none;
    cursor: not-allowed;
}

/* Hide the error message from people but let screen readers see it */
.vh-dnd-error {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.cardsort-statement {
    text-align: left;
    background-color: var(--questionBgColor);
    padding: 10px;
    margin-bottom: 10px;
}