.rsdraggable {
    margin-left: 2%;
    margin-top: 5px;
    display:inline;
    float:left;
    text-align: left;
    vertical-align: top;
    background-color: var(--questionBgColor, #efefff);
    font-family: monospace;
    font-size: 120%;
    padding-bottom: 10px;
    min-width: 48%;
    max-width: 48%;
    border: 1px solid var(--componentBorderColor, #efefff);
    box-sizing: border-box;
}

.drag-button {
    display: inline-block;
}

.drag-reset {
    background-color: #474949;
    color: white;
}

.drag-reset:hover {
    background-color: black;
    color: white;
}

.drop-incorrect {
    border: 1px solid var(--draggableIncorrectBorder, red) !important;
    background-color: var(--draggableIncorrectBg, #f2dede) !important;
}

.drag-reset:enabled {
    background-color: #474949;
    color: white;
}

.draggable-drag {
    border-radius: 10px;
    display: block;
    background-color: var(--draggableBgColor);
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    cursor: grab;
}

.draggable-feedback {
    text-align: left !important;
    clear: both;
}

.draggable-drop {
    border-radius: 10px;
    display: block;
    background-color: var(--dropableBgColor);
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    cursor: grab;
}

.draggable-container {
    text-align: center;
}

.possibleDrop {
    border-color: #000000;
    background-color: #CCCCCC;
}

/*
 * This is a hack to allow us to drop on the drop target when
 * the drop area contains mathjax or or other child elements.
*/
.draggable-drop .process-math, .draggable-drop .MathJax {
    pointer-events: none;
    cursor: not-allowed;
}
