{% extends "admin/_admin_base.html" %}

{% block title %}
Manage Students
{% endblock %}

{% block content %}
<div class="admin-page student-management">
    <a href="/admin/instructor/menu" class="back-link">Back to Instructor Dashboard</a>

    <div class="page-header">
        <h1>Manage Students</h1>
    </div>

    <div class="course-info">
        <h3>{{ course.course_name }}</h3>
        <p>Base Course: {{ course.base_course }}</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form id="removeStudents" method="POST" action="/admin/instructor/remove_students">
                <h3 style="text-align: center">Students</h3>
                <select id="studentList" class="form-control student-list" size="10" name="student_list" multiple>
                    <option value="None" selected>--Select Student(s) for Action--</option>
                    {% for person in students: %}
                    <option value="{{person.username}}">{{ person.first_name }} {{ person.last_name }} ({{person.username}})</option>
                    {% endfor %}
                </select>
                <div style="text-align: center">
                    <input style="margin-bottom: 10px" type="submit" value="Remove Student(s)"
                        class="btn btn-danger"> <br />
                    <button type="button" id="passwordreset" onclick="resetOnePassword()" class="btn btn-primary">Reset
                        Password</button>
                </div>
            </form>
            <div class="help-doc">
                <p>Removing a student drops them from your course and transfers them to the <strong>"open" course</strong> for the same book.</p>
                <p>You will not see them in the grading interface or gradebook anymore, but <strong>no data is lost</strong>.</p>
            </div>
        </div>

        <div class="col-md-8">
            <h3 style="text-align: center">Register Students</h3>
            <p>Upload a csv file with the following format to automatically register your students.
                Each row must have six elements in the order shown below.</p>
            <pre>username,email,first_name,last_name,password,course</pre>
            <form method="POST" action="/admin/instructor/enroll_students" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="studentuploads">Choose a CSV file with student information</label>
                    <input id="studentuploads" type="file" name="students" class="form-control">
                </div>
                <input type="submit" name="Send" value="Register Students" class="btn btn-primary">
            </form>
            <br />
            <div class="help-doc">
                <p>You can make the file in your favorite Spreadsheet app and then export it to a CSV file to upload here. Please export without headers.</p>
                <p><strong>Notes -- Please Read</strong></p>
                <ol style="margin-bottom: 0;">
                    <li>Usernames must be unique across all of Runestone, not just your course.</li>
                    <li>Beware of exporting from Excel, it often adds a Byte Order Marker (BOM) to the beginning of the file that will invalidate the first username. Export as CSV (MS-DOS) to avoid this. Or edit with a text editor and remove it.</li>
                    <li>If anything fails, fix your errors and try again. Students without errors will be added immediately, so subsequent uploads will have failures for the initially successful.</li>
                    <li>If you need to <strong>add new students,</strong> put them in a new CSV file and upload. Your existing students will not be impacted.</li>
                    <li>If you are trying to add <strong>existing students</strong> to a <strong>new</strong> class, that is not supported. Once a student is registered they can add themselves to any course from the 👤 menu -> Change Course page.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="/staticAssets/js/admin/manage_students.js"></script>
{% endblock %}
