.root {
  position: absolute;
  inset: 0;
}

.wrapper {
  height: 100%;
}

.control {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  text-align: right;
  font-variant-numeric: tabular-nums;
  padding-inline: var(--table-horizontal-spacing, var(--rs-space-3));
}

.control:focus-visible {
  outline-offset: -2px;
}
