.assignment-chooser {
  max-height: 36rem;
  overflow-y: scroll;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: .5rem;
  border-radius: 5px;
  margin-top: 1.5em;
}

/* Everything in this construct should only be applied when not
   using the pretext template.
   :where forces the selector to have zero specificity, so it doesn't
   make nested selectors more specific than they need to be
*/
:where(body:not(.ptx-runestone-template)) {
  .course_page {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}