.course_page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.assignment_chooser {
    max-height: 24rem;
    overflow-y: scroll;
    margin-bottom: 1rem;
    border: solid #ccc;
    padding: .5rem;
    border-radius: 5px;
}