*.pyc
__pycache
.DS_Store
node_modules
build
*~
*.pyc
__pycache__
.vscode
.web-installed
.worker-installed
.ssh
.nova
.env
logfiles
datashop
build_info
sphinx_settings.json
dist
env
.venv
cache
.check_*
httpserver.log
httpserver.pid
parameters_*.py
build.log
_build
/.last_version
/bases/rsptx/assignment_server_api/react
.vite
*.tgz
**/test/_static
bake.log
WARP.md
