html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  width: 75%;
  margin: auto;
}

.appGradientBg {
  background: var(--rs-gradient-app-bg);
  background-attachment: local;
}

.builderlabel {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.contain2col {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 50%;
  box-sizing: border-box;
}
