{% extends "_base.html" %} {% block content %}

<div class="starter-template">
  <h1>Runestone / PreTeXt Book Manager</h1>
  <hr />
  <br />
  <div>
    <h3>Books by {{name}}</h3>
    <table id="booktable" class="booktbl table">
      <tr>
        <td><strong>document-id/basecourse</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Last Build</strong></td>
      </tr>
      {% for book in book_list %}
      <tr>
        <td><a href="/editlibrary/{{book.basecourse}}">{{book.basecourse}}</a></td>
        <td>
          <button
            onclick="buildTask('{{book.basecourse}}')"
            type="button"
            class="btn btn-primary"
          >
            Build
          </button>
        </td>
        <td>
          <button
            onclick="deployTask('{{book.basecourse}}')"
            type="button"
            class="btn btn-success"
          >
            Deploy
          </button>
        </td>
        <td>
          <button
            onclick="showLog('{{book.basecourse}}')"
            type="button"
            class="btn btn-success"
          >
            Show last log
          </button>
        </td>
        <td>
          <a role="button" class="btn btn-info"
            href="/impact/{{book.basecourse}}"
            >Student Impact</a>
        </td>
        <td>
          <a role="button" class="btn btn-info"
            href="/anonymize_data/{{book.basecourse}}"
            >Datashop Dump</a>
        </td>
        <td>{{book.last_build}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>Note: Click on the document-id to edit the meta data for your book</p>
    <br />
    <h3>Add a New Book</h3>
    <label for="bcname">Your document id / basecourse name</label>
    <input id="bcname" type="text" name="bcname" onchange="checkDB(this)" />
    <br />
    <label for="gitrepo">Github Repo URL</label>
    <input id="gitrepo" type="text" name="githubrepo" /> (Must use https url not
    ssh)
    <div class="taskbox">
      <button
        id="addcoursebutton"
        type="button"
        onclick="addCourse()"
        class="btn btn-primary"
      >
        Add Book to Runestone
      </button>
      <span id="bookstatus"></span>

      <br /><br />
    </div>
    <div id="lastdiv" style="display: none">
      <button type="button" onclick="hideLog()">Hide</button>
      <pre id="lastlog"></pre>
    </div>

    <div>
      <h3>Task Status</h3>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Time</th>
            <th>Status</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody id="tasks"></tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
