{% extends "_base.html" %} {% block content %}
<div>
    <h2>Not Authorized</h2>
    <p>
        You need to have author credentials in order to access this server. If
        you have a book that you would like to publish on Runestone Academy
        please
        <a href="https://github.com/RunestoneInteractive/RunestoneServer"
            >create an issue on github</a
        >
        After some discussion I can set up the credentials for you to manage
        your book using this server.
    </p>
</div>

{% endblock %}
