/* Styles for Runestone poll directive */
.poll .poll-question {
    padding-bottom: 10px;
}

.poll .progress {
    width: 350px;
    height: 25px;
    margin-top: -20px;
}

.poll .progress .progress-bar {
    height: 30px;
    color: #333;
}

.poll-text {
    margin: 0 0 0 10px;
    font-size: 12px;
    line-height: 20px;
    float: left;
}

.results-container {
    display: grid;
    grid-template-columns: 2em 90%;
}

.poll-option {
    margin-left: 5px;
}

.poll-option > .para:first-of-type {
    display: inline-block;
    padding-left: 0.5rem;
}

.poll-results:not(:empty) {
    margin-top: 0.5rem;
}

label.poll-option {
    font-weight: normal;
    display: block;
}

.ptx-runestone-container input.poll-choice-input {
    vertical-align: top;
    margin-right: 0.5em;
}