/* Styles for Runestone poll directive */
.poll .poll-question {
    padding-bottom: 10px;
}

.poll-options>label {
    margin-right: 5px;
}

.poll .progress {
    width: 350px;
    height: 25px;
    margin-top: -20px;
}

.poll .progress .progress-bar {
    height: 30px;
    color: #333;
}

.poll-text {
    line-height: 22px;
    display: inline-block;
    vertical-align: text-bottom;
}

.results-container {
    display: grid;
    grid-template-columns: 2em 90%;
}

.poll-option {
    display: inline;
}

.poll-option .para {
    display: inline-block;
    padding-left: 0.5rem;
}

.poll-results {
    margin-top: 0.5rem;
}