.clickable {
    cursor: pointer;
}

.clickable:has(code) {
    padding: 3px;
    display: inline-block;
}

.clickable-clicked:has(code) {
    box-shadow: 0px 0px 2px 2px rgba(0,100,0,0.75);
}

.clickable-clicked {
    background-color: var(--clickableBgColor);
}

.clickable-clicked td {
    background-color: #dad6c1;
    box-shadow: initial;
}

table {
    border-collapse: collapse;
}

th.clickable, td.clickable {
    border: 1px solid black;
}

td.clickable-clicked{
    background-color: #dad6c1;
    box-shadow: initial;
}

td img {
    margin: 5px;
}

.clickable-clicked th {
    background-color: #dad6c1;
    box-shadow: initial;
}

th.clickable-clicked{
    background-color: #dad6c1;
    box-shadow: initial;
}

.clickable-incorrect,
.clickable-incorrect th,
.clickable-incorrect td {
    border: 1px solid red !important;
    background-color: var(--clickableIncorrectBgColor);
}

img.clickable-incorrect {
    box-shadow: 0px 0px 2px 2px rgba(100,0,0,0.75);
}

.clickable-incorrect:has(code) {
    box-shadow: 0px 0px 2px 2px rgba(251, 0, 0, 0.75);
}

:root {
    --clickableBgColor: yellow;
    --clickableIncorrectBgColor: #ffcccc;
}

:root.dark-mode {
    --clickableBgColor: rgb(60, 86, 36);
    --clickableIncorrectBgColor: #562c2c;

    .clickable-clicked:has(code):not(.clickable-incorrect) {
        box-shadow: 0px 0px 2px 2px rgba(251, 255, 21, 0.75);
    }
}
