{% extends "_base.html" %}
{% block title %}
My Course
{% endblock %}
{% block css %}
  <link href="/staticAssets/course.css" rel="stylesheet" media="screen" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
  <link href="/staticAssets/assignment/assignment_block.css" rel="stylesheet" media="screen" />

  {% if origin == "PreTeXt" and using_ptx_base != "true" %}
  <link href="/ns/books/published/{{ course.base_course }}/_static/pretext/css/theme.css" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% set back_to = "textbook" %}

{% set navitems %}
{% if course_list|length > 1 %}
<li class="nav-item">
  <span class="nav-link">
    Change course:
    <select id="course_chooser" onchange="change_course()">
      {% for c in course_list: %}
      <option {% if c.course_name == course.course_name %}selected{% endif %} value="{{c.course_name}}">
        {{c.course_name}}
      </option>
      {% endfor %}
    </select>
  </span>
</li>
{% endif %}
{% endset %}

{% block content %}
<section class="course_page">
  <h1 class="heading">{{course.course_name}}</h1>

  {% if course_description %}
  <div class="course-metadata">
    <p>{{course_description}}</p>
  </div>
  {% endif %}

  <div class="course-metadata">
    <div><strong>Course start date:</strong> {{course.term_start_date}}</div>
    {% if is_old_course and is_instructor %}
      <div class="alert alert-warning">
        <strong>Warning</strong>: The course start date is more than one year ago.
      </div>
    {% endif %}
    <div><strong>School:</strong> {{institution}}</div>
    <div><strong>Student:</strong> {{user.first_name}} {{user.last_name}} (<a href="/admin/auth/logout">Not you?</a>)</div>
  </div>

  <section>
    <h2 class="heading">Instructors</h2>
    <ul>
      {% for instructor in instructor_list: %}
      <li>
        {{instructor.first_name}} {{instructor.last_name}} (<a href="mailto:{{instructor.email}}">{{instructor.email}}</a>)
      </li>
      {% endfor %}
    </ul>
  </section>

<section>
  <h2 class="heading">Textbook</h2>
  {% if book %}
    <a href="/ns/books/published/{{course.course_name}}/{{book.main_page}}">{{book.title}}</a>
    {% if lastPageUrl %}
      (<a href="{{lastPageUrl}}">Last Page</a>)
    {% endif %}
  {% else %}
    <p>No textbook for this course.</p>
  {% endif %}
</section>

<section>
  <h2 class="heading">Assignments</h2>
  {% if lti1p1 %}
    <p>You must launch assignments through your LMS for this course</p>
  {% else %}
    <div class="assignment-chooser">
      {% include 'assignment/student/assignment_block.html'%}
    </div>
  {% endif %}
</section>

{% if is_instructor %}
<section class="instructor_menu">
  <h2 class="heading">Instructor Links</h2>
  <ul class="instructor-menu-links" >
    <li><a href="/admin/instructor/menu">Instructor Dashboard</a></li>
    <li><a href="/assignment/student/studentreport">Student Progress</a></li>
    <li><a href="/assignment/instructor/gradebook">Gradebook</a></li>
    <li><a href="/assignment/instructor/grader">Grading</a></li>
    <li><a href="/assignment/instructor/builder">Manage Assignments</a></li>
    <li><a href="/assignment/instructor/except">Manage Accommodations</a></li>
  </ul>

  {% if has_discussion_group: %}
  <h2 class="heading">Get help, learn about updates, share resources!</h2>
    {% if book and book.social_url: %}
    <a class="nav-link" href="{{book.social_url}}">Instructors Group for {{book.title}}</a>
    {% endif %}
  {% endif %}
</section>
{% endif %}

<script>
async function change_course(course_name) {
    let new_course = document.getElementById("course_chooser").value
    let request = new Request(`/ns/course/changeCourse/${new_course}`, {
        method: "GET",
    });
    await fetch(request);
    window.location.href = "/ns/course/index"
}
</script>
</section>

{% endblock %}

{% block js %}
<script src="/staticAssets/assignment/student.js"></script>
{% endblock %}
