{% extends "_base.html" %} {% block content %}

<div class="starter-template">
  <h1>Runestone Data Manager for {{ course.course_name }}</h1>
  <hr />
  <br />
  <script>
    var courseName = '{{course.course_name}}'
  </script>
  <p><strong>Important:</strong> These log files are not anonymized and are meant for the instructor's use only.  Access to this page is limited to the instructors of the course {{ course.course_name }}.  Username: <strong>{{username}}</strong> has been validated as an instructor for <strong>{{ course.course_name }}</strong>.  If this is not you leave this page immediately.</p>

  <h2>Create CSV File from Log</h2>
  <p>Creating a log file can take some time.  You can either wait here or come back to the page later.  When the file is ready it will be in the list above.</p>
  <div>
      <p><button class="btn btn-info" onclick="useinfoTask('{{course.course_name}}')">Raw Log Data</button> Click this for all student activities.</p>
      <p><button class="btn btn-info" onclick="codeTask('{{course.course_name}}')">Raw Code Data</button> Click this for all attempts at all coding problems.</p>
      <p><button class="btn btn-info" onclick="window.location.href='/author/anonymize_data/overview'">Processed Class Data</button> Click this for all student code/activities in <a href="https://pslcdatashop.web.cmu.edu/help?page=importFormatTd">Datashop format.</a> Suitable for analysis</p>
      <p><button class="btn btn-info" onclick="window.location.href='{{host}}/assignment/student/chooseAssignment'">Download Submissions for one Assignment</button></p>      
      <p><button class="btn btn-info" onclick="assignmentData('{{course.course_name}}')">Class Assignment MetaData</button> Just a list of your assignments and what type they are.</p>
      <p><button class="btn btn-info" onclick="window.location.href='{{host}}/runestone/dashboard/subchapoverview'">Chapter Activity Reports</button> See and download activities for chapters and pages in the book.</p>
      <p><button class="btn btn-info" onclick="window.location.href='{{host}}/runestone/dashboard/grades'">Gradebook</button>View the gradebook for this course</p>

  </div>

  <h2>Ready for Download</h2>
  <div>
      <ul id="csv_files_available">
      {% for lfile in ready_files %}
        <li>
          <a href="/author/getfile/{{lfile.name}}">
            <span class="logfilename" id="{{lfile.name}}">{{lfile.name}}</span> -
            <span class="logfilemtime" id="{{lfile.name}}_mtime">{{ready_files[lfile]}}</span>
          </a>
        </li>
      {% endfor %}
      </ul>
  </div>

  <div style="margin-top: 20px;">
    <h3>Task Status</h3>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Time</th>
          <th>Status</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody id="tasks"></tbody>
    </table>
  </div>

</div>

{% endblock %}

{% block js  %}
<script src="/staticAssets/author/main.js"></script>
{% endblock %}