<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Runestone Academy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="/staticAssets/css/rs-core.css" />
    <link href="/staticAssets/main.css" rel="stylesheet" media="screen" />
    <link href="/staticAssets/css/auth.css" rel="stylesheet" media="screen" />
    {% block css %}{% endblock %}
</head>
<body>
{% if user %}
{% include "_navbar.html" %}
{% else %}
<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="https://runestone.academy">
        <img src="/staticAssets/RAIcon.png" height="30px" alt="Runestone Logo"/>
    </a>
    <div class="ml-auto nav-item">
        <a class="nav-link" href="/admin/auth/login">Log In</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="https://blog.runestone.academy/pages/faq.html">Help</a>
    </div>
</nav>
{% endif %}

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

{% include 'footer.html' %}

<script src="/staticAssets/js/nav.js"></script>
{% block js %}{% endblock %}
</body>
</html>
