{% extends "admin/auth/_auth_base.html" %}

{% block title %}Support Runestone Academy{% endblock %}

{% block content %}
<div class="auth-card auth-card--wide donate-card">
    <h1>Support Runestone Academy</h1>

    <p class="donate-intro">
        <img src="/staticAssets/RAIcon.png" height="40px" alt="Runestone Logo"/>
        Your support of Runestone Academy LTD is vital to our future. Voluntary
        support from students and schools is one of our primary sources of income.
        Since the Fall of 2018 Runestone Academy has served over 316,000 registered
        students! At $100 a book we have saved students $31 million in textbook
        purchases!
    </p>

    <p>Thank You!<br/>
        Brad Miller, Founder and Chief Developer &mdash; Runestone Academy Ltd</p>

    <div class="amount-panel">
        <div class="amount-panel-heading">Select an amount to donate</div>
        <div class="amount-panel-body">
            <div class="amount-option">
                <input type="radio" name="donate" id="donate10" value="10.00">
                <label for="donate10">$10</label>
            </div>
            <div class="amount-option">
                <input type="radio" name="donate" id="donate20" value="20.00">
                <label for="donate20">$20</label>
                <span class="donate-note">Once you donate we won't ask again.</span>
            </div>
            <div class="amount-option">
                <input type="radio" name="donate" id="donate50" value="50.00">
                <label for="donate50">$50</label>
            </div>
            <div class="amount-option">
                <input type="radio" name="donate" id="donate100" value="100.00">
                <label for="donate100">$100</label>
            </div>
            <div class="amount-option other-amount">
                Other: <input type="text" class="form-control" name="donate" id="donateother" value=""/>
                Anything more than $1 is appreciated.
            </div>
            <div class="donate-actions">
                <a class="btn-rs-secondary" href="{{ '/ns/course/index' if user else 'https://runestone.academy' }}" role="button">Sorry, not Today</a>
            </div>
        </div>
    </div>

    <div id="paypal-button-container"></div>

    <p class="payment-note">Note: Payment processing is handled by PayPal,
        Runestone Academy LTD has no access to your payment information.</p>

    <img class="venmo-qr" src="/staticAssets/RunestoneVenmoQR.png" alt="Runestone Venmo QR code"/>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=ASkp77N-Kiw5GKOF_0I13P0GCW6lrnaukdVqeFykz7zBT9F-WXHRIisBsau5VEmC-vCKCzt--41kaOjb&currency=USD&intent=capture&enable-funding=venmo"></script>

<script src="/staticAssets/js/auth/donate.js"></script>
{% endblock %}
