<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Runestone Academy{% endblock %}</title>
        <!-- meta -->
        <meta name="description" content="Runestone Library listing of all books" />
        <meta name="author" content="Runestone Academy LTD" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- provide search engines with canonical link -->
        <link rel="canonical" href="https://runestone.academy/ns/books/index" />
        <!-- styles -->
        <link
            href="/staticAssets/css/rs-core.css"
            rel="stylesheet"
            media="screen"
        />
        <link
            href="/staticAssets/main.css"
            rel="stylesheet"
            media="screen"
        />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
       {% if needs_jquery %}
       {# jQuery is only for pages that load published book bundles (which
          declare jQuery as a webpack external) or jQuery plugins such as
          DataTables.  Opt in with {% set needs_jquery = true %} at the top
          of the page template. #}
       <script src="/staticAssets/js/jquery.js"></script>
       {% endif %}
        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
        {% include "_navbar.html" %}
        {% endblock %}

        <div class="container-fluid">
            <!-- child template -->
            {% block content %}
            {% endblock %}
        </div>

        {% include 'footer.html' %}

        <!-- scripts -->

        <script src="/staticAssets/js/nav.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
