div.journal div.latexoutput {
    background-color: var(--outerBackground, #eeeeee);
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 5px;
}


.shortanswer_section .alert {
    margin-bottom: 0;
}

.shortanswer__timestamp {
    font-size: 0.9em;
    color: var(--grayToWhite, #333);
}