{% extends "_base.html" %}

{% block content %}
<div>
    <h1>Runestone Datashop Anonymizer</h1>
    <p>This page will allow an <strong>author</strong> or <strong>researcher</strong> to create an anonymized data set with data from their book.  The dataset is created by randomly selecting a group of small, medium, and large courses created from the base course.  You must have author or researcher permissions and you are only allowed to create a dataset for the base course(s) associated with the author or researcher permission.  You must agree that you will not try to re-identify any of this data, and you must agree that you will not share the data with anyone else. Creating a dataset is a resource and database intensive task.  Please do this during off hours.  ie start it up at night and it will be ready for you to download the next morning.  It is not unusual for this process to run more than 1-2 hours.</p>
    <p>The format of the datashop files produced is <a href="https://pslcdatashop.web.cmu.edu/help?page=importFormatTd">documented here</a> I strongly recommend you use the minimum number of courses for your first attempt.  This will be faster and give you something to start looking at.</p>
    <div>
        <h2>Files ready for download</h2>
        <ul id="csv_files_available">
            {% for lfile in ready_files %}
            <li><a href="/getdatashop/{{lfile.name}}">{{lfile.name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Set parameters for anonymous data from {{book}}</h2>
        <form>
            <div>{{form.basecourse.label }}: {{ form.basecourse() }}</div>
            <div>{{form.with_assess.label }}: {{ form.with_assess() }}</div>
            <div>{{form.start_date.label }}: {{ form.start_date() }}</div>
            <div>{{form.end_date.label }}: {{ form.end_date() }}</div>
            <div>
                {{form.sample_size.label }}: {{ form.sample_size(min="3",
                max="21", value="15", oninput="this.nextElementSibling.value =
                this.value") }}
                <output>15</output>
            </div>
            <div>
                {{form.include_basecourse.label }}: {{ form.include_basecourse()
                }}
            </div>
            <div>{{form.specific_course.label }}: {{ form.specific_course() }}</div>
            <div>{{ form.clist() }}</div>
            <button type="button" onclick="startExtract()">Start</button>
        </form>
    </div>
    <p><strong>Note: </strong>To create a datashop file for a named course you must be the instructor of that course.</p>

    <div style="margin-top: 20px">
        <h3>Task Status</h3>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>
</div>
{% endblock %}
