.runestone label p {
    display: inline;
    font-weight: normal !important;
}

.runestone label pre {
    font-weight: normal;
}

.runestone fieldset legend {
    font-size: 14px;
    color: black;
}

.runestone fieldset .instructions {
    font-size: small;
    color: #333;
}

.multiplechoice_section label > .para {
    display: inline;
}

.multiplechoice_section .exercise-interactives {
    margin-top: 1em;
}