.datafiletextfield {
    display: block;
    border: 1px solid var(--componentBorderColor);
}

.datafile_caption {
    margin-bottom: -1px; /* to collapse border w/ below w/o needing border-bottom: none */
    display: block;
    width:fit-content;
    padding: 0 0.2em;
    border-radius: 4px 4px 0 0;
    font-style: italic;
    color: var(--bodyFont);
    background: var(--componentBgColor);
    border: 1px solid var(--componentBorderColor);
}
.datafile_caption code {
    background: none;
    border: none;
}
.datafile pre {
    /* for ease of setting height based on #rows */
    line-height: 1.5em;
    max-width: 100%;
    overflow: auto;
    white-space: pre;
    max-height: 30em;
    border: 1px solid var(--componentBorderColor);
    font-size: 90%;
}
.datafile_hidden {
    display: none;
}
.datafile img {
    display: block;
    border: 1px solid var(--componentBorderColor);
    margin: 0;
}

.datafile_caption code.code-inline {
    color: inherit;
    background: inherit;
    border: 0;
}