{% extends "_base.html" %}

{% block title %}
Choose Assignment
{% endblock %}


{% block css %}
    <link href="/staticAssets/assignment/assignment.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
<link href="/staticAssets/assignment/assignment_block.css" rel="stylesheet" />

    {% if origin == "PreTeXt" and using_ptx_base != "true" %}
    <link href="/ns/books/published/{{ course.base_course }}/_static/pretext/css/theme.css" rel="stylesheet" />
    {% endif %}
{% endblock %} 

{% block content %}
<section class="assignment-page">
<h1 class="heading">Choose Assignment</h1>

<section>
    {% if lti1p1 %}
    <h2>You must launch assignments through your LMS for this course</h2>
    {% else %}
    {% include 'assignment/student/assignment_block.html' %}
    {% endif %}
</section>
</section>
{% endblock %} 


{% block js %}
<script src="/staticAssets/assignment/student.js"></script>
{% endblock %}
