{% extends "_base.html" %} 
{% block title %}
Do Assignment
{% endblock %}
{% block css %}

{% include 'common/static_assets.html' %}

<link href="/staticAssets/index.css" rel="stylesheet" media="screen" />
{% endblock %} 
{% block content %}

{% include 'common/ebook_config.html' %}
{% for base_course, latex_preamble in latex_preamble_dict.items() %}
<div class="hidden-content process-math" style="display: none">
    \( {{latex_preamble}} \)
</div>
{% endfor %}

<div id='part1'>
    <h1 id="assignment_name" style='text-align:center'>{{ assignment['name'] }}</h1>
    <p style='margin-left:2cm;'>
    <span
    {% if overdue %}
    class="overdue"
    {% else %}
    class="notdue"
    {% endif %}
    >
    Due: {{ assignment['duedate'] }}
    </span>
    {% if enforce_pastdue %}
    Past due and no longer scoring submissions
    {% endif %}
    </p>
    <span style="float:right; margin-right:2cm;">
        {% if assignment['points'] > 0 %}
            Current Score: 
            <span id="total_score">{{questions_score+readings_score}}</span> of 
            <span id="total_max">{{assignment['points']}}</span> = 
            <span id="total_percent">{{'%0.2f' | format(100*(questions_score + readings_score)/assignment['points']|float)}}</span>%
        {% else %}
            This assignment is ungraded
        {% endif %}
    </span>
    <div style='background-color:powderblue; margin-left:2cm; margin-right:2cm;'>
        <p style='margin-left:0.5cm; margin-right:0.5cm;'>Description: {{ assignment['description'] }}</p>
    </div>
    {% if not assignment.is_timed %}
    <div>
        {% if is_submit == "Finished" %}
            <div style='background-color:rgb(146, 207, 165); margin-left:2cm; margin-right:2cm;'>
                <p style='margin-left:0.5cm; margin-right:0.5cm;'>You have marked this assignment Finished.  Click to mark it <button onclick="updateAssignmentProgress('In Progress', assignmentId)" class="btn btn-info">In Progress</button></p>
            </div>
        {%elif is_submit == "In Progress"%}
            <div style='background-color:rgb(247, 238, 158); margin-left:2cm; margin-right:2cm;'>
                <p style='margin-left:0.5cm; margin-right:0.5cm;'>You have marked this assignment as In Progress.  Click to mark it as <button onclick="updateAssignmentProgress('Finished', assignmentId)" class="btn btn-info">Finished</button></p>
            </div>
        {% else %}
            <div style='background-color:rgb(236, 189, 189); margin-left:2cm; margin-right:2cm;'>
                <p style='margin-left:0.5cm; margin-right:0.5cm;'>You can mark this assignment as <button onclick="updateAssignmentProgress('In Progress', assignmentId)" class="btn btn-info">In Progress</button> by clicking the button.</p>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if readings|length > 0 %}
        <div id='readings' style='margin-left:15%;'>
            <h3>Readings</h3>
            <ul>
                {% for reading in readings %}
                    <li class="{{ readings[reading]['status']}}">{{ reading  }}</li>
                    <ul>
                    {% for r in readings[reading]['subchapters'] %}
                        {% if origin == "Runestone" %}
                        <li class="{{ r['status']}}"><a href="/ns/books/published/{{course.course_name}}/{{r['chapter']}}/{{r['subchapter']}}.html">{{ r['name']   }}</a>
                        {% else: %}
                        <li class="{{ r['status']}}"><a href="/ns/books/published/{{course.course_name}}/{{r['subchapter']}}.html">{{ r['name']   }}</a>
                        {% endif %}
                        {% if r['points'] > 0 %}
                            {% if r['comment'] != 'ungraded' %}
                                </br>{{ r['score']}} of {{ r['points']}} points earned; minimum {{ r['activities_required']   }} activities required
                            {% else %}
                                </br>not graded yet: {{ r['points']}} points; minimum {{ r['activities_required']  }} activities required
                            {% endif %}
                        {% endif %}
                    </li>

                    {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if questioninfo|length > 0 %}
        <div id='questions' class="runestone-sphinx">
            <style>
                .ac_section > * {
                    max-width: 100%;
                }
                #questions {
                    max-width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
            <h3>Questions</h3>
                {% if assignment.is_timed %}
                    <ul data-component="timedAssessment"  id="{{  assignment.name }}"
                    {% if assignment.time_limit %}
                        data-time="{{ assignment.time_limit }}"
                    {% endif %}
                    {% if assignment.nofeedback %}
                        data-no-feedback
                    {% endif %}
                    {% if assignment.nopause %}
                        data-no-pause
                    {% endif %}
                    style="display: none;"
                    >
                    {% for q in questioninfo %}
                        <div class="runestone-sphinx">
                        {{ q.htmlsrc|safe }}
                        </div>
                    {% endfor %}
                    </ul>
                {% else %}
                    
                    {% for q in questioninfo %}
                        <div class="questionblock">
                        <div class="metaquestion">
                            <div class="griditem">
                            Question: {{loop.index}}
                            </div>
                            <div class="griditem">
                                <p>
                                {% if origin == "Runestone" %}
                                <a href="/ns/books/published/{{ course.course_name}}/{{ q['chapter']}}/{{ q['subchapter']}}.html#{{ q['name']    }}">Show this question in the book.</a>
                                {% else %}
                                <a href="/ns/books/published/{{ course.course_name}}/{{ q['subchapter']}}.html#{{ q['name']   }}">Show this question in the book</a>
                                {% endif %}
                                </p>
                                <p id="{{q['name']}}_message"></p>
                            </div>

                            <div class="griditem">
                            <p id="{{ q['name']}}_score">Score: <span class="qscore">{{ q['score']}}</span> / <span class="qmaxscore">{{ q['points']  }}</span></p>
                            {% if q['comment'] != 'autograded' and q['comment'] != 'ungraded' %}
                                <p>Comment: {{ q['comment'] }}</p>
                            {% else %}
                                <p>Scoring Method: {{q['how_graded']}}</p>
                            {% endif %}
                            </div>
                        </div>
                            {% if q['question_type'] == 'webwork' %}
                            <div class='oneq full-width runestone-sphinx ptx-content' id='{{ loop.index }}'>
                            {% else %}
                            <div class='oneq full-width runestone-sphinx' id='{{ loop.index }}'>
                            {% endif %}
                                {{ q.htmlsrc|safe }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
    {% endif %}
</div>
{% if not assignment.is_timed %}
<div>
    {% if is_submit == "Finished" %}
        <div style='background-color:rgb(146, 207, 165); margin-left:2cm; margin-right:2cm;'>
            <p style='margin-left:0.5cm; margin-right:0.5cm;'>You have marked this assignment Finished.  Click to mark it <button onclick="updateAssignmentProgress('In Progress', assignmentId)" class="btn btn-info">In Progress</button></p>
        </div>
        {% if is_graded %}
            <div style='background-color:powderblue; margin-left:2cm; margin-right:2cm;'>
                <p style='margin-left:0.5cm; margin-right:0.5cm;'>This assignment is graded and is no longer
                accepting submissions. You can still do the work, but it is up to your instructor whether
                they will accept it or not.</p>
            </div>
        {% elif enforce_pastdue %}
            <div style='background-color:powderblue; margin-left:2cm; margin-right:2cm;'>
                <p style='margin-left:0.5cm; margin-right:0.5cm;'>The due date has passed for this assignment.
                You can no longer change your status, but your work will be recorded and time stamped</p>
            </div>
        {% endif %}
    {% elif is_submit == "In Progress" %}
        <div style='background-color:rgb(247, 238, 158); margin-left:2cm; margin-right:2cm;'>
            <p style='margin-left:0.5cm; margin-right:0.5cm;'>You have marked this assignment as In Progress.  Click to mark it as <button onclick="updateAssignmentProgress('Finished', assignmentId)" class="btn btn-info">Finished</button></p>
        </div>
    {% else %}
        <div style='background-color:rgb(236, 189, 189); margin-left:2cm; margin-right:2cm;'>
            <p style='margin-left:0.5cm; margin-right:0.5cm;'>You can mark this assignment as <button onclick="updateAssignmentProgress('In Progress', assignmentId)" class="btn btn-info">In Progress</button> by clicking the button.</p>
        </div>
    {% endif %}
</div>
{% endif %}

{% if not released and not assignment.is_timed %}
<div style="text-align:center">
    <button class="btn btn-lg btn-warning buttonAskCompletion" id="gradeMeButton">Compute Score for Assignment</button>
    <p><strong>Warning:</strong> Scores for problems that you self grade are unofficial.
        Some problems will need to be manually graded, and your instructor may have requirements that cannot be autograded.
        No deadlines are enforced when self grading, but your instructor may penalize you
        for late work.</p>
</div>
{% elif False %}
<div style="text-align:center">
    <button class="btn btn-lg btn-warning buttonAskCompletion" id="gradeMeButton">Score Me</button>
    {% if not is_graded and not enforce_pastdue %}
    <button class="btn btn-lg buttonAskCompletion" id="submitMeButton">
        {% if is_submit == "Not Started" %}
            Mark In Progress
        {% elif is_submit == "In Progress" %}
            Mark Finished
        {% else %}
            Mark Incomplete
        {% endif %}
    </button>
    {% endif %}
</div>
{% endif %}
</div>

<script>
    assignmentId = {{  assignment.id  }};
    //console.log(document.getElementsByClassName('nav nav-tabs'))
    // This script renders the html into elements in the DOM
    // The html gets thrown into a script tag so javascript can mess with it without throwing errors all over the place


    //var questionHtmlCode = document.getElementsByClassName("htmlblock");
    // Interestingly, javascript won't understand the html string without first dumping it into an html element
    // a console.log of the html string within the questioninfo array would only give an unexpected token error
    // pulling the html strings from the script element provides the string that javascript recognizes
    // even after stringifying the json.dumps version of a dictionary with the html as a value and then parsing the result, the html string was still seen as an undefined type according to javascript

    // The htmlDecode is needed to unescape the html that the server has sent.
    // because only unescaped html gets rendered as html elements

    function htmlDecode(input){
          let e = document.createElement('div');
          e.innerHTML = input;
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }




    // for (let i=0; i<questionHtmlCode.length; i++) {
    //     let $div = $('#' + i);
    //     let unescapedhtml = htmlDecode(questionHtmlCode[i].innerHTML);
    //     let change = $.parseHTML(unescapedhtml, keepScripts=true);
    //     $div.append(change);
    // }

    $("#submitMeButton").on("click", function(){
        $('#submitMeButton').css('visibility', 'hidden');
        markComplete({{ assignment['id']}}, {{ user.id  }})
    });

    $("#gradeMeButton").on("click", function(){
        $('#gradeMeButton').css('visibility', 'hidden');
        selfGrade({{ assignment['id'] }})
    });

</script>
<script src="/staticAssets/assignment/selfgrade.js" type="text/javascript"></script>
<script src="/staticAssets/assignment/student.js" type="text/javascript"></script>

{% endblock %}