{% extends "_base.html" %}
{% set needs_jquery = true %} 
{% block title %}
Do Assignment
{% endblock %}


{% block css %}
    {% include 'common/static_assets.html' %}

    <link href="/staticAssets/assignment/assignment.css" rel="stylesheet" />

    {% if origin == "PreTeXt" and using_ptx_base != "true" %}
    <link href="/ns/books/published/{{ course.base_course }}/_static/pretext/css/theme.css" rel="stylesheet" />
    {% endif %}
{% endblock %}


{% block content %}
{% if using_ptx_base != "true" %}
    {% include 'common/ebook_config.html' %}
{% endif %}

{% for base_course, latex_preamble in latex_preamble_dict.items() %}
<div class="hidden-content process-math" style="display: none">
    \( {{latex_preamble}} \)
</div>
{% endfor %}

<section id='part1'>
    <h1 id="assignment_name" class="heading assignment-title">Assignment: {{ assignment['name'] }}</h1>

    <section class="assignment-meta">
        <div>
            <div
                {% if overdue %}
                class="assignment-due-date overdue"
                {% else %}
                class="assignment-due-date notdue"
                {% endif %}
                >
                <strong>Due:</strong> {{ assignment['duedate'] }}
            </div>
            {% if enforce_pastdue %}
                <em>(Past due and no longer scoring submissions)</em>
            {% endif %}
        </div>
        <div class="assignment-score">
            {% if assignment['points'] > 0 %}
                <div class="assignment-score-summary">
                    <strong>Current Score:</strong> 
                    <span id="total_score">{{questions_score+readings_score}}</span> of 
                    <span id="total_max">{{assignment['points']}}</span> = 
                    <span id="total_percent">{{'%0.2f' | format(100*(questions_score + readings_score)/assignment['points']|float)}}</span>%
                </div>
                {% if released and not assignment.is_timed and needs_manual_grading  %}
                <div class="assignment-grade-notice">
                    <strong>Warning:</strong> This assignment includes manually graded problems that have not been scored yet.
                </div>
                {% endif %}
                
            {% else %}
                This assignment is ungraded
            {% endif %}
        </div>
    </section>
    
    {% if assignment['description'] %}
    <section class="assignment-banner assignment-banner-info">
        <h2 class="heading">Description</h2>
        <p class="assignment-banner-copy">{{ assignment['description'] }}</p>
    </section>
    {% endif %}

    {% if readings_full|length > 0 %}
    <section id='readings' class="assignment-readings">
        <h2 class="heading">Readings</h2>
        <ul class="assignment-readings-chapters">
            {% for reading in readings_full %}
                {% if origin == "Runestone" %}
                <li class="{{ readings_full[reading]['status']}}"><strong> Chapter {{ readings_full[reading]['chapter_num'] }} {{ readings_full[reading]['chapter_name'] }}:</strong>
                {% else: %}
                <li class="{{ readings_full[reading]['status']}}"><a href="/ns/books/published/{{course.course_name}}/{{readings_full[reading]['chapter_label']}}.html">Chapter {{ readings_full[reading]['chapter_num'] }} {{ readings_full[reading]['chapter_name'] }}:</a>
                {% endif %}
                    <ul class="assignment-readings-subchapters">
                    {% for r in readings_full[reading]['subchapters'] %}
                        {% if origin == "Runestone" %}
                        <li class="{{ r['status']}}"><a href="/ns/books/published/{{course.course_name}}/{{r['chapter_label']}}/{{r['sub_chapter_label']}}.html">{{ r['chapter_chapter_name']   }}</a>
                        {% else: %}
                        <li class="{{ r['status']}}"><a href="/ns/books/published/{{course.course_name}}/{{r['sub_chapter_label']}}.html">{{ r['chapter_num']  }}.{{ r['chapter_chapter_num']  }} {{ r['chapter_chapter_name']  }}</a>
                        {% endif %}
                        {% if r['points'] > 0 %}
                            {% if r['comment'] != 'ungraded' %}
                                <br>{{ r['score']}} of {{ r['points']}} points earned; minimum {{ r['activities_required']   }} activities required
                            {% else %}
                                <br>not graded yet: {{ r['points']}} points; minimum {{ r['activities_required']  }} activities required
                            {% endif %}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if questioninfo|length > 0 %}
        <section id='questions'>
        {% if assignment.is_timed %}
            <h2>Timed Questions</h2>
            <ul data-component="timedAssessment"  id="{{  assignment.name }}"
            {% if assignment.time_limit %}
                data-time="{{ assignment.time_limit }}"
            {% endif %}
            {% if assignment.nofeedback %}
                data-no-feedback
            {% endif %}
            {% if assignment.nopause %}
                data-no-pause
            {% endif %}
            style="display: none;"
            >
            {% for q in questioninfo %}
                {% if q['question_type'] == 'webwork' or origin == "PreTeXt" %}
                    <div class="runestone-sphinx ptx-content">
                        {{ q.htmlsrc|safe }}
                    </div>
                {% else %}
                <div class="runestone-sphinx">
                {{ q.htmlsrc|safe }}
                </div>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <h2 class="heading">Questions</h2>
                <ol class="assignment-questions">
                {% for q in questioninfo %}
                    <li class="questionblock exercise exercise-like">
                        <div class="questionblock-header">
                            <h3 class="griditem questionblock-question-number">
                                Question: {{loop.index}} ({{ q['qnumber'] | trim }})
                                {% if q['is_incorrect'] %}
                                    <span class="rs-sr-only">not correct</span>
                                    <i class="ti ti-exclamation-circle question-status question-error" aria-hidden="true"></i>
                                {% endif %}
                            </h3>
                            <div class="griditem questionblock-context-link">
                                {% if origin == "Runestone" %}
                                <a href="/ns/books/published/{{ course.course_name}}/{{ q['chapter_label']}}/{{ q['sub_chapter_label']}}.html#{{ q['name'] }}">Show this question in the book.</a>
                                {% else %}
                                <a href="/ns/books/published/{{ course.course_name}}/{{ q['sub_chapter_label']}}.html#{{ q['name'] }}">Show this question in the book</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="question-contents">
                            <div class="griditem questionblock-score-section">
                                <div id="{{ q['name']}}_score" aria-live="polite">
                                    <strong>Score:</strong> <span class="qscore">{{ q['score']}}</span> / <span class="qmaxscore">{{ q['points']  }}</span>
                                </div>
                                {% if q['comment'] != 'autograded' and q['comment'] != 'ungraded' %}
                                    <div><strong>Comment:</strong> {{ q['comment'] }}</div>
                                {% else %}
                                    <div><strong>Scoring Method:</strong> {{q['how_graded']}}</div>
                                {% endif %}
                            </div>
                            {% if q['question_type'] == 'webwork' or origin == "PreTeXt" %}
                            <div class='oneq full-width runestone-sphinx ptx-content' id='{{ loop.index }}'>
                            {% else %}
                            <div class='oneq full-width runestone-sphinx' id='{{ loop.index }}'>
                            {% endif %}
                                {{ q.htmlsrc|safe }}
                            </div>
                            <div id="{{q['name']}}_message" aria-live="polite"></div>
                        </div>
                    </li>
                {% endfor %}
                </ol>
            {% endif %}
        </section>
    {% endif %}
    </div>
</section>

<script>
    assignmentId = {{  assignment.id  }};

    var readingsInfo = {{ readings_full | tojson | safe }}
    var questionInfo = {{ questioninfo | tojson | safe }};
    console.log(readingsInfo);
    console.log(questionInfo);
   
    let subchapList = []
    let qlist = []
    let subchapNames = []
    for (let chapter in readingsInfo) {
        for (let subchapter of readingsInfo[chapter]['subchapters']) {
            subchapList.push(subchapter['sub_chapter_label']);
            subchapNames.push(subchapter['chapter_chapter_name']);
        }
    }
    for (let q of questionInfo) {
        qlist.push(q['name']);
    }
    var assignmentInfo = {
        'name': "{{ assignment['name'] }}",
        'id': assignmentId,
        'readings': subchapList,
        'readingNames': subchapNames,
        'questions': qlist
    };
    localStorage.setItem(`currentAssignmentInfo_${eBookConfig.course}`, JSON.stringify(assignmentInfo));

    //console.log(document.getElementsByClassName('nav nav-tabs'))
    // This script renders the html into elements in the DOM
    // The html gets thrown into a script tag so javascript can mess with it without throwing errors all over the place


    //var questionHtmlCode = document.getElementsByClassName("htmlblock");
    // Interestingly, javascript won't understand the html string without first dumping it into an html element
    // a console.log of the html string within the questioninfo array would only give an unexpected token error
    // pulling the html strings from the script element provides the string that javascript recognizes
    // even after stringifying the json.dumps version of a dictionary with the html as a value and then parsing the result, the html string was still seen as an undefined type according to javascript

    // The htmlDecode is needed to unescape the html that the server has sent.
    // because only unescaped html gets rendered as html elements

    function htmlDecode(input){
          let e = document.createElement('div');
          e.innerHTML = input;
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
</script>

<script src="/staticAssets/assignment/selfgrade.js" type="text/javascript"></script>
<script src="/staticAssets/assignment/student.js" type="text/javascript"></script>

{% endblock %}