.modal-profile {
    display: none;
    min-height: 300px;
    overflow: hidden;
    width: 700px;
    padding: 25px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #f2f2f2;
    z-index: 50;
}

.modal-lightsout {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
    background: #000;
}

.modal-close-profile {
    display: none;
    position: absolute;
    height: 43px;
    width: 43px;
    /*background-image: url('close.png'); */
    top: 1px;
    right: 0.5px;
}

.ac_actions {
    display: flex;
    flex-wrap: wrap;
    /* wrap for smaller screens */
    justify-content: center;
    margin-bottom: 10px;
}

.ac_sep {
    background: var(--componentBorderColor);
    display: inline-block;
    margin: -15px 10px;
    width: 1px;
    height: 35px;
    padding: 0;
    border: 0;
}

#main-content section .runestone.ac_section .ac_section {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    clear: both;
}

.unittest-results {
    margin-bottom: 20px;
}

.unittest-results table {
    width: 100%;
}

.ac_output {
    margin-top: 10px;
    margin-bottom: -10px;
    visibility: hidden;
    background-color: inherit;
}

.ac_output pre {
    background-color: var(--ac-out-background);
}

.python_check_results pre,
.ac_section .error pre,
.ac-modal-body .error pre {
    background-color: var(--content-background, #fefefe);
}

.ac_caption {
    text-align: center;
    font-weight: bold;
}

.ac_caption_text {
    font-weight: normal;
}

.ac_question {
    background-color: var(--questionBgColor);
    padding: 10px;
    margin-bottom: 10px;
}

.active_out {
    background-color: var(--ac-out-background);
    border-radius: 6px;
    min-width: 20em;
    max-height: 300px;
    overflow: auto;
}

.visible-ac-canvas {
    border: 2px solid var(--componentBorderColor);
}

.full_width ol {
    max-width: 100% !important;
}

.ac-disabled {
    pointer-events: none;
}

.ac-feedback {
    border: 1px solid var(--componentBorderColor);
    padding: 3px;
    background-color: var(--content-background,#fff);
}

.ac-feedback-pass {
    background-color: var(--ac-passed);
    text-align: center;
}

.ac-feedback-fail {
    background-color: var(--ac-failed);
    text-align: center;
}

.CodeMirror {
    border: solid 2px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 30em;
    min-height: 100px;
    /* best way to control height is let CodeMirror-scroll do it */
    height: auto;
}

.CodeMirror-scroll {
    /* calculated height is designed so editor panel
     * will fit on screen (with space for navbar and
     * controls). user should not have to scroll both
     * page and editor panel. */
    max-height: calc(100vh - 180px);
}

/* decorate locked lines that do not have lock marker */
.CodeMirror__locked-line .CodeMirror-gutter-wrapper:not(:has(.CodeMirror__gutter-locked-marker)):before {
    content:" ";
    display: block;
    width: 2px;
    height: 1lh;
    right: -9px;
    position: relative;
    background-color: #888;
    float: left;
}
.CodeMirror__gutter-locked-marker {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' viewBox='0 -960 960 960' width='16px' fill='%23currentColor'%3E%3Cpath d='M263.72-96Q234-96 213-117.15T192-168v-384q0-29.7 21.15-50.85Q234.3-624 264-624h24v-96q0-79.68 56.23-135.84 56.22-56.16 136-56.16Q560-912 616-855.84q56 56.16 56 135.84v96h24q29.7 0 50.85 21.15Q768-581.7 768-552v384q0 29.7-21.16 50.85Q725.68-96 695.96-96H263.72Zm.28-72h432v-384H264v384Zm216.21-120Q510-288 531-309.21t21-51Q552-390 530.79-411t-51-21Q450-432 429-410.79t-21 51Q408-330 429.21-309t51 21ZM360-624h240v-96q0-50-35-85t-85-35q-50 0-85 35t-35 85v96Zm-96 456v-384 384Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
    height: 20px;
    width: 20px;
    background-color: #000;
}
.CodeMirror__locked-line {
    background-color: var(--ac-locked-line-bg);
}

/* keep after locked-line so this has higher priority */
.CodeMirror__highlight-line {
    background-color: var(--ac-highlight-line-bg);
}

.ac_sql_result {
    background-color: var(--ac-out-background);
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ac_sql_result_success,
.ac_sql_result_failure {
    border: 0px;
    padding: 0px;
}

.ac_sql_result_failure pre {
    background: var(--dangerAlerts);
}

.codelens {
    margin-bottom: 20px;
}

.codecoach {
    margin-top: 20px;
}

.ac_section .alert h3:first-child {
    margin-top: 0px;
}

.activecode__stdin {
    display: block;
    width: 100%;
    resize: none;
    overflow: auto;
    margin-bottom: 20px;
}

.unittest-results__heading {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.unittest-results__percent {
    text-align: center;
    font-weight: bold;
}

.scratch-ac-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 200;
    /* Sit on top */
    left: 200px;
    top: 200px;
    width: 800px;
    overflow: auto;
    /* Enable scroll if needed */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: var(--background);
}

.scratch-ac-modal {
    max-height: 90%;
    overflow-y: scroll;
}

.ac-modal-body,
.ac-modal-content {
    background-color: var(--background);
}

.ac-modal-header .close {
    color: var(--bodyFont);
}

.scratch-ac-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}