.modal-profile {
    display: none;
    min-height: 300px;
    overflow: hidden;
    width: 700px;
    padding: 25px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #f2f2f2;
    z-index: 50;
}

.modal-lightsout {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
    background: #000;
}

.modal-close-profile {
    display: none;
    position: absolute;
    height: 43px;
    width: 43px;
    /*background-image: url('close.png'); */
    top: 1px;
    right: 0.5px;
}

.ac_actions {
    display: flex;
    flex-wrap: wrap;
    /* wrap for smaller screens */
    justify-content: center;
    margin-bottom: 10px;
}

.ac_sep {
    background: var(--componentBorderColor);
    display: inline-block;
    margin: -15px 10px;
    width: 1px;
    height: 35px;
    padding: 0;
    border: 0;
}

#main-content section .runestone.ac_section .ac_section {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    clear: both;
}

.unittest-results {
    margin-bottom: 20px;
}

.unittest-results table {
    width: 100%;
}

.ac_output {
    margin-top: 10px;
    margin-bottom: -10px;
    display: none;
    background-color: inherit;
}

.ac_output pre {
    background-color: var(--ac-out-background);
}

.python_check_results pre,
.ac_section .error pre,
.ac-modal-body .error pre {
    background-color: var(--content-background, #fefefe);
}

.ac_caption {
    text-align: center;
    font-weight: bold;
}

.ac_caption_text {
    font-weight: normal;
}

.ac_question {
    background-color: var(--questionBgColor);
    padding: 10px;
    margin-bottom: 10px;
}

.active_out {
    background-color: var(--ac-out-background);
    border-radius: 6px;
    min-width: 20em;
    max-height: 300px;
    overflow: auto;
}

.visible-ac-canvas {
    border: 2px solid var(--componentBorderColor);
}

.full_width ol {
    max-width: 100% !important;
}

.ac-disabled {
    pointer-events: none;
}

.ac-feedback {
    border: 1px solid var(--componentBorderColor);
    padding: 3px;
    background-color: var(--content-background,#fff);
}

.ac-feedback-pass {
    background-color: var(--ac-passed);
    text-align: center;
}

.ac-feedback-fail {
    background-color: var(--ac-failed);
    text-align: center;
}

.CodeMirror {
    border: solid 2px;
    margin-bottom: 10px;
}

.ac_sql_result {
    background-color: var(--ac-out-background);
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ac_sql_result_success,
.ac_sql_result_failure {
    border: 0px;
    padding: 0px;
}

.ac_sql_result_failure pre {
    background: var(--dangerAlerts);
}

.codelens {
    margin-bottom: 20px;
}

.codecoach {
    margin-top: 20px;
}

.ac_section .alert h3:first-child {
    margin-top: 0px;
}

.activecode__stdin {
    display: block;
    width: 100%;
    resize: none;
    overflow: auto;
    margin-bottom: 20px;
}

.unittest-results__heading {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.unittest-results__percent {
    text-align: center;
    font-weight: bold;
}

.scratch-ac-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 200;
    /* Sit on top */
    left: 200px;
    top: 200px;
    width: 800px;
    overflow: auto;
    /* Enable scroll if needed */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: var(--background);
}

.scratch-ac-modal {
    max-height: 90%;
    overflow-y: scroll;
}

.ac-modal-body,
.ac-modal-content {
    background-color: var(--background);
}

.ac-modal-header .close {
    color: var(--bodyFont);
}

.scratch-ac-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}