@use "variables";

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    max-height: 95vh;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 2rem;
    transition: margin-left variables.$transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
