.table_sticky-header {

  .p-treetable-wrapper {
    max-height: 100rem;
    overflow: visible;
  }

  .p-treetable-header,
  .p-datatable-header {
    z-index: 3;
    position: sticky;
    top: -25px;
  }
}

.editable-table-cell {
  .editable-table-input,
  .editable-table-dropdown,
  .p-inputnumber-input {
    border-radius: 0;
    background: transparent;
    border: none;
    user-select: none !important;
    width: 100%;
    &::selection { color: currentColor }
  }

  .p-focus  {
    box-shadow: none
  }

  .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.1rem #bfdbfe;
  }

  .editable-table-cell__drag-icon {
    right: 0;
    bottom: 0;
    margin: -1rem;
    padding: .5rem;
    cursor: move;
    background-color: transparent;
    border-radius: 50%;
    color: var(--primary-color);
  }
}

.icon-button-sm {
  padding: 0;
  width: 24px;
  height: 24px;
}

.preview-container {
  background-color: var(--componentBgColor);
  border-color: var(--componentBorderColor);
  border-radius: 10px;
  border-style: solid;
  clear: both;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;

  figure {
    width: 300px;
  }
}

.assignmentExercise_row {
  td {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.p-datatable-wrapper {
  overflow: visible !important;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}