/* Todo, better integration with prism and Pretext dark mode*/

.hp_actions {
    margin-top: 10px;
    text-align: center;
}

.hparsons-input {
    padding: 0;
}

.hparsons-tip {
    margin-top: 10px;
}

.hp_output {
    display: none;
    background-color: inherit;
}
.hp_output pre {
    background-color: var(--questionBgColor, lightgray);
}

.hp_feedback {
    margin-top: 10px;
}

.hp_sql_result {
    background-color: var(--questionBgColor, lightgray);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.hp_sql_result_success {
    background-color: transparent;
    color: var(--parsonsCorrectBgColor, green);
    border: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px !important;
}

.hp_sql_result_failure {
    background-color: transparent;
    color: var(--parsonsIncorrectBgColor, red);
    border: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px !important;
} 

micro-parsons .drag-area {
    background-color: var(--questionBgColor, #efefff);
    border: 1px solid var(--componentBorderColor, #efefff);
}

micro-parsons .parsons-block {
    color: black;
}