/* Todo, better integration with prism and Pretext dark mode*/

.hparsons_section {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    clear: both;
}

.hparsons_section > *:not(.hparsons_section) {
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
}

.hp_question {
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
}

.hp_actions {
    text-align: center;
}

.hp_output {
    display: none;
    max-width: 450px;
    background-color: inherit;
}
.hp_output pre {
    background-color: var(--questionBgColor, lightgray);
}

.hp_sql_result {
    background-color: var(--questionBgColor, lightgray);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.hp_sql_result_success {
    background-color: transparent;
    color: var(--parsonsCorrectBgColor, green);
    border: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px !important;
}

.hp_sql_result_failure {
    background-color: transparent;
    color: var(--parsonsIncorrectBgColor, red);
    border: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px !important;
} 

micro-parsons .drag-area {
    background-color: var(--questionBgColor, #efefff);
    border: 1px solid var(--componentBorderColor, #efefff);
}

micro-parsons .parsons-block {
    color: black;
}